---
import { getLangFromUrl,  useTranslatedPath } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const transPath = useTranslatedPath(lang);
---

<a href={transPath('/')} data-astro-prefetch="hover" >
    Andrés González
</a>