---
const { title, subtitle, desc } = Astro.props;

console.log(subtitle)
---
<style>
  .info {
    @apply 
    absolute w-full h-full
    hidden xg:flex 
    p-3 flex-col justify-between 
    pointer-events-none z-50;
  }
</style>

<div class="info">
    <div class="title">
      <h2 class="mb-2">{title}</h2>
      <p>
        <Fragment set:html={ subtitle.replace(/\n/g, "<br>") } />
      </p>
    </div>
    <div>
      <p class="xg:w-[25%]">
        <Fragment set:html={desc} />
      </p>
    </div>
  </div>